@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif !important;
}

#logo-container {
    padding-left: 10vw;
    margin-top: 5vh;
}

#logo-container:hover {
    cursor: pointer;
}

#logo{
    width: 13vw;
    height: auto;
}

#top-container {
    display: flex;
    position: relative;
    padding: 0 10vw;
}

#left-container {
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#image-container {
    display: flex;
}

#mockup {
    width: 90%;
    height: auto;
}

#right-container {
    width: 40%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

#title {
    font-size: 2.5vw;
    font-weight: 600;
}

#description {
    font-size: 1vw;
}

#register-button {
    height: 3.25vw;
    width: 15vw;
    border-radius: 50px;
    font-size: 1.25vw;
    font-weight: 400;
    color: hsl(257, 40%, 49%);
    box-shadow: 5px 5px 20px  hsl(257, 40%, 15%);
    border: none;
}

#register-button:focus {
    outline: none;
}

#register-button:hover {
    cursor: pointer;
}

#socials-container {
    padding-right: 17vw;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
}

.social-borders{
    border: 1px solid white;
    height: 3vw;
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: .75vw;
}

.social-borders:hover{
    cursor: pointer;
}

.social-logos {
    height: 2vw;
    width: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25vw;
}

footer {
    text-align: center;
}

a {
    color: inherit;
}

@media only screen and (max-width: 600px) {
    #logo-container {
        margin: auto 0 5vh 0;
    }

    #logo {
        width: 40vw;
    }
    
    #top-container {
        flex-direction: column;
    }

    #left-container {
        width: 100%;
        height: auto;
    }

    #mockup{
        width: 100%;
    }

    #right-container {
        width: 100%;
        display: flex; 
        flex-direction: column;
    }

    #title {
        font-size: 6vw;
        text-align: center;
    }

    #description {
        font-size: 4vw;
        text-align: center;
    }

    #button-container {
        align-self: center;
    }

    #register-button {
        height: 10vw;
        width: 45vw;
        font-size: 4vw;
    }

    #socials-container {
        width: 35%;
        padding: 7vh 0 0 0;
        margin: 0 auto;
        justify-content: space-between;
    }

    .social-borders{
        width: 9vw;
        height: 9vw;
    }

    .social-logos{
        width: 3vw;
        height: 3vw;
        font-size: 3.5vw;
    }

    footer {
        margin: 3vh auto;
        width: 80%;
        font-size: small;
    }
}