* {
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    background-image: url("../images/bg-desktop.svg");
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    color: white;

}
